<div class="container">
  <h2>Salary Management</h2>

  <!-- SELECT EMPLOYEE -->
  <div class="card">
    <select
      [(ngModel)]="newSalary.employeeId"
      name="employeeId"
      (change)="onEmployeeChange()"
      required
    >
      <option value="">Select Employee</option>
      <option *ngFor="let emp of employeeList()" [value]="emp.id">
        {{ emp.fullName }} ({{ emp.employeeCode }})
      </option>
    </select>
  </div>

  <!-- CURRENT SALARY -->
  <div *ngIf="currentSalary()" class="card">
    <h3>Current Salary</h3>
    <p>Basic: {{ currentSalary()?.basicSalary }}</p>
    <p>Allowance: {{ currentSalary()?.allowance }}</p>
    <p>Bonus: {{ currentSalary()?.bonus }}</p>
    <p>Deduction: {{ currentSalary()?.deduction }}</p>
    <p>
      <strong>Net Salary: {{ currentSalary()?.totalSalary }}</strong>
    </p>
  </div>

  <!-- CREATE SALARY -->
  <form (ngSubmit)="onSubmit()" class="card">
    <input
      type="number"
      [(ngModel)]="newSalary.basicSalary"
      name="basicSalary"
      placeholder="Basic Salary"
      required
    />
    <input
      type="number"
      [(ngModel)]="newSalary.allowance"
      name="allowance"
      placeholder="Allowance"
    />
    <input type="number" [(ngModel)]="newSalary.bonus" name="bonus" placeholder="Bonus" />
    <input
      type="number"
      [(ngModel)]="newSalary.deduction"
      name="deduction"
      placeholder="Deduction"
    />

    <input type="date" [(ngModel)]="newSalary.effectiveFrom" name="effectiveFrom" required />

    <button type="submit">Add Salary</button>
  </form>

  <!-- SALARY HISTORY -->
  <div *ngIf="salaryHistory().length > 0" class="card">
    <h3>Salary History</h3>

    <table>
      <thead>
        <tr>
          <th>Effective From</th>
          <th>Basic</th>
          <th>Allowance</th>
          <th>Bonus</th>
          <th>Deduction</th>
          <th>Net</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of salaryHistory()">
          <td>{{ s.effectiveFrom | date }}</td>
          <td>{{ s.basicSalary }}</td>
          <td>{{ s.allowance }}</td>
          <td>{{ s.bonus }}</td>
          <td>{{ s.deduction }}</td>
          <td>{{ s.totalSalary }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
